.button-blue {
    -fx-background-color: #013780;
    -jfx-button-type: RAISED;
    -fx-text-fill: WHITE;
}

.button-blue:hover {
    -fx-background-color: #2157A0;
}

.button-white {
    -fx-background-color: WHITE;
    -jfx-button-type: RAISED;
    -fx-text-fill: #2157A0;
}

.button-white:hover {
    -fx-background-color: #dedede;
}

.check-box {
    -jfx-focus-color: #013780;
}

.header {
    -fx-font-family: "Verdana";
    -fx-font-size: 16px;
    -fx-text-fill: #2157A0;
    -fx-padding: 5px 0px 10px 0px;
}

.header-second {
    -fx-font-family: "Verdana";
    -fx-font-size: 13px;
    -fx-text-fill: #2157A0;
    -fx-padding: 5px 0px 10px 0px;
}

.label-addField {
    -fx-background-color: #2157A0;
    -fx-text-fill: WHITE;
    -fx-label-padding: 5px 20px 5px 20px;
    -fx-background-radius: 10px;
    -fx-min-width: 200;
}

#templateViewRightSide {
    -fx-padding: 10px 10px 10px 15px;
}

.template-item {
    -fx-background-color: #2157A0;
    -fx-background-radius: 7;
    -fx-padding: 10;
}

.item-templatename {
    -fx-font-size: 18;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.item-versicherung {
    -fx-font-size: 12;
    -fx-text-fill: #FFFFFF;
}

.item-button {
    -fx-background-color: #2157A0;
}

.heading {
    -fx-font-family: "Verdana";
    -fx-font-size: 24;
    -fx-text-fill: #2157A0;
}

.scroll-pane {
    -fx-background-color: transparent;
}
